.active {
    color: white;
    background-color:#00ace6 !important;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height:44px;
    z-index: 999;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px;
  }

  .navbar a {
    padding: 10px;
  }

  .navbar a, .navbar hr {
    margin-bottom:0px;
    margin-top:0px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
    text-decoration: none;
  }
  
  .navbar a.icon {
    color:white;
    display:none;
  }

  @media screen and (max-width: 600px) {
      .navbar {
          overflow:visible;
      }
    .navbar a:not(:first-child), 
    .navbar button {
        display: none;
    }
    .navbar a.icon  {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    /* .navbar.responsive {position: relative;} */
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a, 
    .navbar.responsive button {
      float: none;
      display: block;
      text-align: left;
      background-color: #333;
    }
    .navbar a:hover {
        background: #ddd;
        color: black;
      }

      .navbar a.icon:hover {
        background: #ddd;
        color: black;
        cursor:pointer;
      }

     .responsiveSignout {
        position: absolute;
        top: 133px;
        right: 0px;
     }
  }


