p {
  margin-bottom:0;
  font-weight:bold;
}

.inline{
  width:50%;
}

/* .locationInput {
  margin-top:8px;
  width: 130%;
  max-width: 280px;
  height: 40px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
} */


.reviewInput{
    display:block;
    margin:10px;
}

.submitButton{
    margin-top:8px;
}

.starRating {
    display:inline;
}


.updateButton {
    margin:4px 4px 4px 0px;
}

.addReview{
  margin:auto;
  margin-top:40px;
  margin-bottom:40px;
  max-width:380px;
}

.addReviewBody {
  margin:auto;
}

.noReviewsWell{
  margin-left:30px;
  min-height: 20px;
  padding: 19px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.inputTop {
  /* margin-bottom:10px; */
  display:inline;
  background-color:rgb(238);
}

.inputTop > * {
  display:inline;
}

.textarea {
  width: 100%;
  /* max-width: 280px; */
  margin-top:10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.scoreLine{
    padding-right:0px !important;
}

.scoreHeader{
    font-size:0.9rem;
}

.scoreRow {
  display:flex;
  margin-top:10px;
}

.scoreReviewHeader{
  padding-top:6px;
  display:inline;
  width:120px;
}

/* .addIcon {
  padding:10px 0px 0px 10px;
} */

.inlineParent > * {
  display:inline;
}

.reviewsList {
  margin-top:20px;
}



@media (max-width: 340px){
  .scoreReviewHeader{
    width:90px;
  }  
}

